@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}

html, body{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;
}
body {
    display: flex;
    align-items: center;
}
td {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}
div.container {
    max-width: 500px;
    background-color: white;
    background: rgba(0, 0, 0, 0);
}
div.items {
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1s;
}
h1.title {
    color: white;
}
h2.subtitle {
    color: white;
}
