/* Font from dafont.com */
@font-face {
    font-family: vanadine;
    src: url('../fonts/VanadineBold.ttf');
}
/* making sure that background image is fixed and looks darker */
html{
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
}
/* body fits within width and height of html  */
body {
    min-height: 100%;
    min-width: 100%;
}
a {
    display: inline-block;
    margin: 0 25px 0 0;
}
h1.title {
    font-family: vanadine;
    color: white;
}
h2.subtitle {
    color: white;
}
/* change color of text and icons to signify them being a link */
a.links {
    font-family: vanadine;
    color: #82BBCC;
}
a.links:hover {
    font-family: vanadine;
    color: white;
}
i.fa {
    color: #82BBCC;
    padding-left: 25px;
    padding-right: 25px;
}
i.fa:hover {
    color: white;
}
/* centers container */
.container {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
/* making sure that the navbar animates first */
.items {
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2s;
}
.navbar {
    background: rgba(0, 0, 0, 0.3);
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1s;
    align-self: flex-start;
}
