    <!-- About Section -->
    <section id="about" class="content-section text-left" style="padding-left: 50px; padding-right: 50px;">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-1">
                <h2>About Me</h2>
                <p>Hi! My name is David, and I am a senior at Georgia Tech studying Computational Media with a concentration in Media and Interaction Design.</p>
                <p>I started out as a Computer Science major, and switched to Computational Media in my second year because after having done software engineering internships,
                my passions align with the intersection of design and technology. I'm specifically interested in visual and user experience design as well as front end development.
                I'm expected to graduate May 2020, and am looking for full time opportunities in product management and design.</p>
                <p>I am currently working on updating this site to include more of my work, but in the mean time, take a look at my resume below!</p>
                <a href="/pdf/DavidLe_Resume.pdf" class="btn btn-default btn-lg" target="_blank">Check out my resume!</a>

            </div>
            <div class="col-lg-0 col-lg-offset-0 image-container" style="align-self: flex-end; padding-left: 15px;">
                <img src ="/img/proPic.JPG" style="max-width: 32%; object-position: center;"></img>
            </div>
        </div>
    </section>
