    <!-- Contact Section -->
    <section id="contact" class="container content-section text-left" style="padding-left: 50px; padding-right: 50px;">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-1">
                <h2>Contact</h2>
                <p>Feel free to hit me up on my email or through one of my social media accounts!</p>
                <p><a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>